[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
langchain = "*"
yfinance = "*"
langchain-ollama = "*"
streamlit = {extras = ["charts"], version = "*"}

[dev-packages]
black = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
